*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
core/app/build
core/data/build
core/network/build
core/ui/build
feature/home/build
feature/library/build
feature/search/build
app/build
/gradle